/* General */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #ECEFF1;
    color: #333;
}

h1, h2, h3 {
    text-align: center;
}

a {
    text-decoration: none;
    color: #fff;
}

/* Sección de Bienvenida */
.header {
    background-image: url(/assets/imagenes/fondo.webp);
    background-size: cover;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}

/* Menú Fijo */
.menu-fijo {
    position: fixed;
    top: 0;
    width: 100%;
    /* background-color: #fff;  */
    background-color:transparent;
   
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.281);
    z-index: 100;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.8s ease; /* Animación para suavizar el cambio */
}

.menu-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.menu-container {
    position: relative;
    right: 120px;
}

.menu-icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    width: 80px;
}

.menu-icon span {
    font-size: 45px;
    transition: color 0.3s ease;
}

.menu-icon:hover {
    transform: rotate(90deg);
}

.dropdown {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    width: 190px;
    background-color: #ffffffef;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1000;
    animation: fadeIn 0.5s ease-in-out; /* Animación de aparición */
}

.dropdown ul {
    list-style: none;
    margin: 0;
    padding: 5px 0;
}

.dropdown ul li {
    padding: 8px 10px;
}

.dropdown ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

.dropdown ul li:hover {
    background-color: #ff5722; /* Color llamativo al pasar el mouse */
    color: #fff;
    transition: background-color 0.3s ease;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.menu-icon:hover + .dropdown,
.dropdown:hover {
    display: block;
}

/* Estilo del h1 */
.overlay h1 {
    font-size: 10rem;
    font-weight: 1800; /* Engrosar la letra */
    color: #fff;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    transition: transform 0.3s ease, text-shadow 0.3s ease;
    
}
.overlay h1:hover {
    transform: scale(1.1); /* Agrandar ligeramente al pasar el mouse */
    text-shadow: 6px 6px 20px rgba(119, 213, 236, 0.801); /* Efecto de sombra dorada */
}
.overlay p {
    font-size: 1.7rem;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(27, 155, 202, 0.8), 4px 4px 10px rgba(242, 196, 15, 0.8); /* Sombras en colores de la gama */
    transition: text-shadow 0.3s ease;
}
.overlay p:hover {
    text-shadow: 4px 4px 15px rgba(27, 155, 202, 0.8), 6px 6px 20px rgba(27, 155, 202, 1); /* Efecto de sombra más fuerte al pasar el mouse */
}

.overlay{
    /* height: 90vh;
    margin-top: 85px; */


    display: flex;
    flex-direction: column;  /* Asegura que el h1, p, y el enlace se apilen verticalmente */
    justify-content: center; /* Centra verticalmente el contenido */
    align-items: center;     /* Centra horizontalmente el contenido */
    /* position: absolute; */
    
    width: 100%;
    height: 100vh;  /* Ocupa el 100% de la altura de la pantalla */
    background-color: rgba(0, 0, 0, 0.247); /* Opcional: Añade un fondo semitransparente si quieres resaltar aún más el texto */
    text-align: center;
    color: #fff;
    /* margin-top: 85px;  */


    
}

/* Botón CTA */
.cta {
    display: inline-block;
    background-color: #B3E5FC;
    padding: 15px 30px;
    margin-top: 20px;
    font-weight: 600;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    color: #333;
}

.cta:hover {
    background-color: #81D4FA;
    color: #fff;
    transform: scale(1.05);
}

.cta:active {
    transform: scale(0.95);
}

/* Sección de Productos Destacados */
.productos {
    /* padding: 50px 20px; */
    background-color: #fff;
    text-align: center;
    position: relative;
    padding: 10px;
}

.productos-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.producto {
    width: 30%;
    text-align: center;
    display: inline-block;
    margin: 10px 0;
}

.producto img {
    width: 100%;
    border-radius: 10px;
}

.productos h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}
.product-carousel img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
/* Formulario de Contacto */
.contacto {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 1325px;
    margin: 0 auto;
    margin-top: 10px;
}
.contacto h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #204c84;
}

.contacto form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    
}

.contacto input, .contacto textarea {
    width: 100%;
    max-width: 600px;
    padding: 8px;
    margin: 3px 0;
    border: 2px solid #b4ccdc;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s;
    outline: none;
}
.contacto input:focus,
.contacto textarea:focus {
    border-color: #1868bf;
}

.contacto button {
    background-color: #1868bf;
    color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    max-width: 200px;
}

.contacto button:hover {
    background-color: #204c84;
}

input, textarea {
    display: block;
    width: 100%;
    max-width: 500px;
    padding: 5px;
    margin: 2px 0;
    border: 1px solid #B3E5FC;
    border-radius: 5px;
    height: 10px;
}
 textarea {
    display: block;
    width: 100%;
    max-width: 500px;
    padding: 5px;
    margin: 2px 0;
    border: 1px solid #B3E5FC;
    border-radius: 5px;
    height: 40px;
}

#mensaje-confirmacion {
    margin-top: 20px;
    color: #1868bf;
    font-size: 1rem;
    display: none; /* Se puede mostrar después de que el formulario se haya enviado */
}

/* Estilos del popup */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4caf50;
    color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}
.contacto label {
    font-size: 1rem;
    color: #204c84;
    margin-bottom: 5px;
}
/* Estilo para el carrusel de productos */
.productos-carousel {
    
    /* overflow-x: auto;
    scroll-behavior: smooth;
    padding: 20px;
    gap: 20px; */
    display: flex;
    overflow: hidden; /* Oculta la barra de desplazamiento */
    position: relative; /* Para posicionar el botón de desplazamiento */
}
/* Efecto de desplazamiento */
.productos-carousel:hover .producto {
    animation: scroll 0.5s forwards; /* Desplazamiento suave */
}

@keyframes scroll {
    from { transform: translateX(0); }  /* Inicio sin desplazamiento */
    to { transform: translateX(-20px); } /* Fin con desplazamiento hacia la izquierda */
}


.producto {
    min-width: 300px; /* Ancho de cada producto */
    margin-right: 20px; /* Espaciado entre productos */
    transition: transform 0.3s ease;
    position: relative; /* Para posicionar el botón de agregar al carrito */
}

.producto:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.producto img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.add-to-cart {
    position: absolute;
    
    transform: translateX(-50%);
    
    color: #f5efef;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    top: 10px;
    right: 10px;
    /* background: none; */
    
    font-size: 30px;
    color: #204c84; /* Cambia este color si lo deseas */



}
.add-to-cart i {
    font-size: 30px; /* Ajusta el tamaño del ícono si lo deseas */
}
.add-to-cart:hover {
    background-color: #555;
}
/* Modal para vista previa de productos */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

.modal-content img {
    max-width: 100%;
    border-radius: 10px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.filtros {
    margin: 20px 0;
    text-align: center;
}

.filtro-btn {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filtro-btn:hover {
    background-color: #555;
}
.carousel-container {
    position: relative;
    display: flex;
    align-items: center;
}


.prev-arrow, .next-arrow {
    background-color: rgba(0, 0, 0, 0.5); 
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
}

.prev-arrow {
    left: 0;
}

.next-arrow {
    right: 0;
}

/* Responsive */
@media (max-width: 768px) {
    .productos-container {
        flex-direction: column;
        align-items: center;
    }

    .producto {
        width: 80%;
    }

    .menu-icon {
        font-size: 24px;
    }

    .overlay h1 {
        font-size: 7rem;
    }
    .overlay p {
        font-size: 1.2rem;
    }
    .menu-icon span {
        font-size: 24px;
    }
    .contacto form {
        max-width: 100%;
    }

    .contacto input, 
    .contacto textarea {
        max-width: 70%;
    }

    .contacto button {
        max-width: 50%;
    }
    .carousel-container {
        width: 100%;
      }
}
